body{
    width: 960px;
    background-color: white;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;;

}



img{
    width: 120px;
    height: 160px;
    float: left;
}


#introduce{
    height: 160px;
    margin-left: 120px;
    padding-left: 20px;
    padding-top:20px;
}

#introduce h2{
     height: 60px;
     text-align: start;
}

#introduce #intr-title{
    height: 40px;
    text-align: start;

}

#introduce #intr-summary{
    margin-top: 20px;
    height: 20px;
    font-style: oblique;
    color: blue;
}


ul{
    margin-top: 50px;
}

li{
    width: 160px;
    float: left;
    font-size:20px;
    list-style: none;
}


a:link    {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover   {
    text-decoration: none;
    color: blue;
}

a:active  {
    text-decoration: none;
    color: yellow;
}


.box_rectangle_div {
    margin-top: 30px;
}

/* 公共的盒子功能   主要用于里面的文字*/
.box_rectangle {
    width: 120px;
    height: 200px;
    border-width: 1px;
    border-style:solid;
    border-color: #999999;
    border-radius: 5px;
}


.content_area {
    margin-top: 50px;
}

.content_area h2 {
   color: #333333;
}

.content_area h5 {
    color: #999999;
}

.content_area p {
    border-color: #999999;
}

.content_area .title{
    font-weight: 700;

}


 /*  用于部分强调字体 */
.content_area .emphasize {
    font-weight: 900;
    color: black;
}

#github_area a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#zhihu_box_rectangle  {
    width: 100px;
    height: 150px;
}
